<div class="divider" id="profile"></div>
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
    <h1>Profile</h1>
    <hr>
    <div class="divider"></div>
    <p>My name is Cori Haws. I am multi-skilled with some knowledge of VisualBasic and Python, HTML and CSS design, Adobe Photoshop and Illustrator, Aviation and Natural Sciences.</p>
    <p>I have aspirations of eventually becoming a Commercial Airline Pilot for a well respected airline and have had my mind set of achieving this dream of mine for many years.</p>
    <p>Computers and Technology have always been highly influential on my life since I was a small child. Since getting my own computer for Christmas when I was about 7 years old and had been working with computers for several more years before that. Building computers was a skill I learnt by the time I was 11. I spend quite a bit of time on social media and manage a large gaming group related to the Combat Simulator, Digital Combat Simulator.</p>
    <p>One of my hobbies is watching japanese animation (anime). I took a level 1 course in Japanese during college, and have traveled to japan.</p>
    <p>My father owns several military vehicles, a 1943 Ford GPW "Jeep" and a 1969 Kaiser-Jeep M35A2 "Deuce and a Half" Truck, and I regularly attend military vehicle shows as an exhibitor. (Images from these shows are usually available on my Flickr).</p>
    <p>I have also undertaken all three amateur radio examinations and hold a Full Licnce. I currently use the callsign, M0YCH. It was previously 2E0HWG or M6HWG.</p>
    <hr>
</div>
</div>